#node_modules
/node_modules
/node_modules/

#npm-debug
/npm-debug.log
/npm-debug.log*

#yarn-error
/yarn-error.log
/yarn-error.log*

#dist
/dist
/dist/

#build
/build
/build/

#coverage
/coverage
/coverage/

# env files (can opt-in for committing if needed)
.env*
/.env/




.flaskenv*
!.env.project
!.env.vault